body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #dcffdc;
}

.container {
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin-top: 10px;
    margin-bottom: 0px;
}

.header h2 {
    margin-top: 0px;
    font-size: 18px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#logo {
    position: absolute;
    top: 10px;
    right: 10px;
}

#taskInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    width: -webkit-fill-available;
}

#groupInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    width: auto;
}

#dueDateInput {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    width: 110px;
}

.input-container button {
    padding: 9px 11px;
    background-color: #38761d;
    color: #fff;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

.input-container button:hover {
    background-color: #45a049;
}

#taskList {
    margin-top: 20px;
    text-align: left;
}

.task {
    background-color: #f0fff0;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: background-color 0.3s;
    border-left: 8px solid #0f0;
    margin-bottom: 10px;
}

.task img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.2s;
    margin-left: 10px;
}

.task .delete-icon:hover {
    transform: scale(1.2);
}

.task:hover {
    background-color: #afffaf;
}

.task-name,
.group-name,
.due-date {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 150px;
}

.task-name {
    font-weight: 650;
}