body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100vh;
    background-color: rgb(220, 255, 220);
}

.body img {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
}

.container {
    text-align: center;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

#taskList {
    margin-top: 20px;
}

.task img {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: transform 0.3s;
    margin-left: 10px;

}

.task .delete-icon:hover {
    transform: scale(1.2);
}


.task {
    background-color: #e8f0fe;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: background-color 0.3s;
    border-left: 5px solid #3498db; /* Add a left border with a color */
    margin-bottom: 10px; /* Adjust spacing between tasks */

}

.task:hover {
    background-color: #cfdfff;
}

#taskInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 70%;
}

button {
    padding: 10px 20px;
    background-color: #38761d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}


.input-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dueDateInput {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 200px;
}


.task.align-task {
    display: flex;
    align-items: stretch; /* Ensure all items have the same height */
    justify-content: space-between;
}

.task-name,
.due-date {
    flex-grow: 1; /* Allow these items to grow within the flex container */
    overflow: hidden; /* Handle overflow gracefully */
    text-overflow: ellipsis; /* Display ellipsis for overflow text */
    white-space: nowrap; /* Prevent wrapping for long text */
}

.task-name {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 150px; /* or your preferred value */
}