body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #dcffdc;
}

.container {
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin-top: 0px;
}

h2 {
    margin: 0px;
}

#logo {
    position: absolute;
    top: 10px;
    right: 10px;
}

.input-container input[type="text"],
.input-container input[type="date"],
.input-container button {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.input-container input[type="text"],
.input-container input[type="date"] {
    width: calc(50% - 10px);
}

.input-container button {
    padding: 10px 20px;
    background-color: #38761d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.input-container button:hover {
    background-color: #45a049;
}

#taskInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 70%;
}

#dueDateInput {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 200px;
}

#taskList {
    margin-top: 20px;
    text-align: left;
}

.task {
    background-color: #e8f0fe;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: background-color 0.3s;
    border-left: 5px solid #3498db; /* Left border will represent time to due date */
    margin-bottom: 10px; /* Adjust spacing between tasks */

}

.task img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.2s;
    margin-left: 10px;
}

/*.task .delete-icon:hover {
    transform: scale(1.2);
}

.task:hover {
    background-color: #cfdfff;
}

.task.align-task {
    display: flex;
    align-items: stretch; /* Ensure all items have the same height * /
    justify-content: space-between;
}*/

.task-name,
.due-date {
    flex-grow: 1; /* Allow these items to grow within the flex container */
    overflow: hidden; /* Handle overflow gracefully */
    text-overflow: ellipsis; /* Display ellipsis for overflow text */
    white-space: nowrap; /* Prevent wrapping for long text */
}

.task-name {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 150px; /* or your preferred value */
}